.sidebar {
  flex: 2;
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
}
.btn {
  width: 200px !important;
  align-self: center;
  margin-top: 20px;
}
.checkbox {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}
.size {
  text-align: center;
  margin-top: 20px;
}
